Repository TTaoGaming/hfo-gen-88-chromebook-v1: changes, and which pre-commit hooks are due for each by the changed paths.
All: hfo-governance-check, hfo-quarantine-manager, hfo-medallion-guard, hfo-file-defense-audit

.pre-commit-config.yaml:

# HFO Gen 88 Pre-commit Governance
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

# HFO Medallion Flow Governance
- repo: local
  hooks:
  - id: hfo-fast-suite
    name: HFO Fast Suite (pre-commit)
    entry: bash scripts/hfo_precommit_time.sh fast-tests npm run test:fast
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]
  - id: hfo-blackboard-purity
    name: HFO Blackboard Purity & Immutability
    entry: bash scripts/hfo_precommit_time.sh blackboard-purity python3 scripts/blackboard_purity.py
    language: system
    files: hot_obsidian_blackboard\.jsonl$
    always_run: true
    stages: [pre-push]
  - id: hfo-governance-check
    name: HFO Governance Header Check
    entry: python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/hfo_governance_check.py
    language: python
    files: \.(py|ts|js|v|md)$
  - id: hfo-quarantine-manager
    name: HFO Automated Quarantine Manager
    entry: python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/integrity_sentinel.py
    language: python
    files: hfo_hot_obsidian/(silver|gold|hfo)/.*$
  - id: hfo-theater-sentinel
    name: HFO AI Theater Sentinel
    entry: bash scripts/hfo_precommit_time.sh theater-sentinel python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/temporal_sentinel.py
    language: system
    always_run: true
    stages: [pre-push]
  - id: hfo-medallion-guard
    name: HFO Medallion Transition Guard
    entry: python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/medallion_guard.py
    language: python
    files: ^(hfo_cold_obsidian|hfo_hot_obsidian/silver|hfo_hot_obsidian/gold)/.*$
  - id: hfo-orchestration-hub-hardgate
    name: HFO P5 HardGate Orchestration Hub Check
    entry: bash scripts/hfo_precommit_time.sh p5-hardgate bash -c 'PYTHONPATH=/home/tommytai3/active/hfo_gen_88_chromebook_v_1/hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/architecture/ports /home/tommytai3/active/hfo_gen_88_chromebook_v_1/.venv/bin/python /home/tommytai3/active/hfo_gen_88_chromebook_v_1/hfo_hot_obsidian/bronze/4_archive/orchestration_hub_archive_2026_01_18/hfo_orchestration_hub.py p5'
    language: system
    always_run: true
    stages: [pre-push]
  - id: hfo-file-defense-audit
    name: HFO File-Level Defensive Audit
    entry: bash scripts/hfo_precommit_time.sh file-defense bash -c 'PYTHONPATH=/home/tommytai3/active/hfo_gen_88_chromebook_v_1/hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/architecture/ports /home/tommytai3/active/hfo_gen_88_chromebook_v_1/.venv/bin/python /home/tommytai3/active/hfo_gen_88_chromebook_v_1/hfo_hot_obsidian/bronze/4_archive/orchestration_hub_archive_2026_01_18/hfo_orchestration_hub.py p5'
    language: system
    files: \.(py|ts|js|html|yaml|md)$
    stages: [pre-push]
  - id: hfo-omega-fast-regression
    name: HFO Omega Fast Regression (Replay + FSM)
    entry: bash scripts/hfo_precommit_time.sh omega-fast bash /home/tommytai3/active/hfo_gen_88_chromebook_v_1/scripts/hfo_omega_fast_regression.sh
    language: system
    always_run: true
    stages: [pre-push]

spec(alpha): add Gen1 infra + preflight/postflight policies
  hfo_hot_obsidian/bronze/1_projects/alpha_gen1_current/specs/ALPHA_GEN1_INFRA_V1_SPEC_2026_01_25.yaml
  hfo_hot_obsidian/bronze/1_projects/alpha_gen1_current/specs/HFO_PHASE0_INFRA_BOOTSTRAP_V0_1_2026_01_25.yaml
  hfo_hot_obsidian/bronze/1_projects/alpha_gen1_current/specs/HFO_PREFLIGHT_POSTFLIGHT_POLICY_V0_1_2026_01_25.yaml
Due: hfo-file-defense-audit

chore(precommit): avoid false-positive gen6 dino trigger from references
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/README.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/dino_v1_wrapper.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/excalidraw_v20_wrapper.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/official_adapters/OFFICIAL_ADAPTER_SOURCES_2026_01_21.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/official_adapters/PROVENANCE_TEMPLATE.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/official_adapters/dino_runner_nematocyst/PROVENANCE.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/official_adapters/dino_runner_nematocyst/adapter.js
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/official_adapters/dino_runner_nematocyst/adapter_manifest.json
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/official_adapters/mdn_breakout_end3r/LICENSE
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/official_adapters/mdn_breakout_end3r/PROVENANCE.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/official_adapters/mdn_breakout_end3r/UPSTREAM_README.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/app/official_adapters/mdn_breakout_end3r/index.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/references/gen6_v23_10/omega_gen6_v23_10_pyreblade_flamberge_core_analysis.png
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/references/gen6_v23_10/omega_gen6_v23_10_pyreblade_flamberge_core_only.png
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/OMEGA_GEN7_MICROKERNEL_V4_SPEC_2026_01_25.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/assimilated_v1_portable/omega_gen7_v1_2_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/assimilated_v1_portable/omega_gen7_v1_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/assimilated_v1_portable/omega_gen7_v2_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/assimilated_v1_portable/omega_gen7_v3_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/omega_gen7_v1_2_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/omega_gen7_v1_excalidraw_kiosk_pointerup_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/omega_gen7_v1_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/omega_gen7_v2_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/omega_gen7_v3_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/omega_gen7_v4_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/omega_gen7_v5_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/omega_gen7_v6_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/tests/TEST_SUITES_README.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/tests/clips/manifest.json
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/tests/fixtures/excalidraw/gen7_v7_1_draw_freedraw.expected.json
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/tests/fixtures/excalidraw/gen7_v7_1_toolbar_rectangle.expected.json
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/tests/golden_masters/manifest.json
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/tests/playwright/_support.ts
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/tests/playwright/omega_gen7_v1_excalidraw_kiosk_pointerup_smoke.spec.ts
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/tests/playwright/omega_gen7_v1_portable_dino_runner.spec.ts
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/tests/playwright/omega_gen7_v1_portable_smoke.spec.ts
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/tests/playwright/omega_gen7_v1_portable_tripwire_lookahead_monotonic.spec.ts
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_v1_portable/specs/omega_gen7_v1_2_spec.yaml
  scripts/hfo_precommit_gate.sh
Due: hfo-governance-check, hfo-file-defense-audit

chore(gitops): tracked updates
  scripts/docker/shodh_memory.Dockerfile
  scripts/hfo_precommit_gate.sh
Due: none

chore(gitops): allow CURRENT branch + env override
  .gitops/batches.json
  scripts/hfo_gitops_batcher.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(agents): update modes + CI
  .github/agents/README.md
  .github/agents/hfo-port6-kraken-keeper.agent.md
  .github/agents/hfo-port7-spider-sovereign.agent.md
  .github/workflows/tripwires.yml
  AGENTS.md
Due: hfo-governance-check, hfo-file-defense-audit

chore(config): update repo config
  .gitignore
  .gitops/batches.json
  .husky/pre-commit
  feature_flags.env.example
  package.json
  playwright.config.ts
Due: hfo-governance-check, hfo-file-defense-audit

chore(hub): update hub + pointers
  hfo_hub.py
  hfo_pointers.json
  hfo_pointers.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(vscode): update tasks/settings
  .vscode/settings.json
  .vscode/tasks.json
Due: none

docs: update specs + reports
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_current/specs/omega_gen7_v1_spec.yaml
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_30ad9974082a_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_30ad9974082a_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_754a698bbcfc_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_754a698bbcfc_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_961d1e329592_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_961d1e329592_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_a6ca7aa75494_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_a6ca7aa75494_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_cae45010d66d_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_cae45010d66d_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_e2a5f60dcbdb_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_e2a5f60dcbdb_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_ed04c8ed875d_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_ed04c8ed875d_preflight.md
Due: hfo-governance-check, hfo-file-defense-audit

contracts: add zod schemas
  contracts/__tests__/hfo_book_of_blood_grudges.test.ts
  contracts/__tests__/hfo_legendary_commanders_invariants.test.ts
  contracts/__tests__/hfo_memory_storage_manifest.test.ts
  contracts/hfo_book_of_blood_grudges.zod.ts
  contracts/hfo_legendary_commanders_invariants.v1.json
  contracts/hfo_legendary_commanders_invariants.zod.ts
  contracts/hfo_memory_storage_manifest.zod.ts
  contracts/hfo_mtg_port_card_mappings.v1.json
  contracts/hfo_mtg_port_card_mappings.v2.json
Due: hfo-governance-check, hfo-file-defense-audit

chore(jsonl): normalize repo-relative symlinks
  hfo_cold_obsidian/cold_obsidian_blackboard.jsonl
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/replay/right-hand-idle-ready-commit-move-right-release-idle.mirrored.jsonl
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/replay/right-hand-palm-ready-pointer-up-commit-move-right-turn-palm-release.jsonl
  hfo_hot_obsidian/bronze/4_archive/mission_thread_omega_gen_1_RED_reward_hacking_death_spiral/omega_blackboard.jsonl
Due: hfo-medallion-guard

chore(scripts): update ops scripts
  scripts/hfo_flight.sh
  scripts/normalize_mcp_memory_ledger.py
  scripts/p6_bronze_progressive_rollup.py
  scripts/p7_hive8_alignment_snapshot.py
  scripts/shodh_memory_server.sh
Due: hfo-governance-check, hfo-file-defense-audit

test(scripts): add omega specs and gates
  scripts/flags/hfo_load_env.mjs
  scripts/flags/hfo_openfeature_env_provider.mjs
  scripts/hfo_hive8_finalize_turn.py
  scripts/hfo_make_hive8_turn_artifacts.py
  scripts/hfo_make_turn_artifact.py
  scripts/hfo_memory_collect_fragments.py
  scripts/hfo_memory_consolidate_storehouse.py
  scripts/hfo_memory_export_doobidoo_ssot.py
  scripts/hfo_memory_export_portable_duckdb_to_jsonl.py
  scripts/hfo_memory_fragments_manifest.py
  scripts/hfo_memory_guardrails.py
  scripts/hfo_memory_healthcheck.py
  scripts/hfo_memory_import_jsonl_to_doobidoo.py
  scripts/hfo_memory_ingest_markdown_dir.py
  scripts/hfo_memory_ingest_text_dir.py
  scripts/hfo_memory_overview.py
  scripts/hfo_memory_storage_manifest.py
  scripts/hfo_ritual.py
  scripts/hfo_shodh_recall.py
  scripts/hfo_ssot.py
  scripts/hfo_ssot_fts.py
  scripts/hfo_ssot_status_update.py
  scripts/hfo_validate_book_of_blood_grudges.ts
  scripts/lint/hfo_lint_router.mjs
  scripts/mermaid_lint.mjs
  scripts/shodh_memory_stop.sh
  scripts/shodh_sync_from_doobidoo_ssot.py
Due: hfo-governance-check, hfo-file-defense-audit

resources: add fixtures, para, reports
  hfo_hot_obsidian/bronze/3_resources/reports/HFO_BOOK_OF_BLOOD_GRUDGES_GEN88_V4_HOT_BRONZE_V1_2026_01_28.md
  hfo_hot_obsidian/bronze/3_resources/reports/HFO_HOT_BRONZE_FORENSIC_BEHAVIORAL_ANALYSIS_SHODH_FAILURE_V1_2026_01_29T004234Z.md
  hfo_hot_obsidian/bronze/3_resources/reports/HFO_MEMORY_EXEC_SUMMARY_INGEST_STATUS_V1_2026_01_28.md
  hfo_hot_obsidian/bronze/3_resources/reports/HFO_PAIN_POINTS_GEN1_40_EXTRACT_V1_2026_01_28.md
  hfo_hot_obsidian/bronze/3_resources/reports/ai-copilot-struggle-ssot-2026-1-28.md
  hfo_hot_obsidian/bronze/3_resources/reports/ai-inability-follow-instructions-2026-1-28.md
Due: hfo-governance-check, hfo-file-defense-audit

chore(scripts): update ops scripts
  scripts/slop_sentinel.sh
Due: none

chore(gitops): tracked residual
  hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/architecture/ports/versions/base.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(config): update repo config
  .gitops/batches.json
Due: none

chore(agents): add agent modes
  .github/agents/hfo-proof-artifact.agent.md
  .github/agents/hfo_hive_8_agent_gen_88_v_4.agent.md
Due: hfo-governance-check, hfo-file-defense-audit

chore(vscode): add workspace recommendations
  .vscode/extensions.json
Due: none

chore(markdown): add markdownlint config
  .markdownlint-cli2.jsonc
Due: none

docs(notes): add root notes
  ai-gpt-5-2-reward-hacking-memory-2026-1-28.md
  ai-reward-hacking-analysis-2026-1-28.md
  ai-reward-hacking-pain-list-2026-1-28.md
  ttao-notes-2026-1-26.md
  ttao-notes-2026-1-27.md
  ttao-notes-2026-1-28.md
Due: hfo-governance-check, hfo-file-defense-audit

docs(sensemaking): add S3 protocol turns
  hfo_hot_obsidian/bronze/3_resources/para/areas/sensemaking/s3_protocol_turns/2026-01-25__s3__hub_blessed_entryway_smoke_c7eaa76c405c__v2.1.md
  hfo_hot_obsidian/bronze/3_resources/para/areas/sensemaking/s3_protocol_turns/2026-01-25__s3__tool_use_proof_hfo_hub_112ef7629e31__v2.1.md
  hfo_hot_obsidian/bronze/3_resources/para/areas/sensemaking/s3_protocol_turns/2026-01-26__s3__creditburn2_gen7_v1_2_p7_persistence_a4b0964e2770__v2.1.md
  hfo_hot_obsidian/bronze/3_resources/para/areas/sensemaking/s3_protocol_turns/2026-01-26__s3__creditburn3_thumbup_pyreblade_lvl0_841f0b0bcd3e__v2.1.md
  hfo_hot_obsidian/bronze/3_resources/para/areas/sensemaking/s3_protocol_turns/2026-01-26__s3__gen7_v1_2_p7_persistence_reset_no_ties_05693e0754ac__v2.1.md
  hfo_hot_obsidian/bronze/3_resources/para/areas/sensemaking/s3_protocol_turns/2026-01-26__s3__omega_gen7_v1_2_yaml_spec_proof_074d06ac8db6__v2.1.md
  hfo_hot_obsidian/bronze/3_resources/para/areas/sensemaking/s3_protocol_turns/2026-01-27__s3__best-mcp-servers-2026__v2.1.md
Due: hfo-governance-check, hfo-file-defense-audit

docs(hot-silver): add resources
  hfo_hot_obsidian/silver/3_resources/chatgpt_memory_dumps/CHATGPT_MEMORY_DUMP_TO_DUCKDB_GUIDE_AND_RAW_SNAPSHOT_2026_01_25.md
  hfo_hot_obsidian/silver/3_resources/chatgpt_memory_dumps/DUAL_THREAD_SYMBIOTE_HOST_ARCHITECTURE_2026_01_25.md
  hfo_hot_obsidian/silver/3_resources/mtg_slivers/16_SLIVER_SYNERGY_MANIFOLD.md
Due: hfo-governance-check, hfo-quarantine-manager, hfo-medallion-guard, hfo-file-defense-audit

chore(templates): add templates + hive8 test
  templates/agent_turn_artifact_template.md
  templates/hive8_turn_meta_synthesis_template.md
  templates/hive8_turn_port_artifact_template.md
  templates/hive8_turn_port_artifact_template_P1_webweaver.md
  templates/hive8_turn_port_artifact_template_P3_harmonic_hydra.md
  templates/hive8_turn_port_artifact_template_P6_kraken_keeper.md
  tests/hive8_golden_master.spec.ts
Due: hfo-governance-check, hfo-file-defense-audit

chore(python): add root hub tooling
  hfo_memory_guardrails.py
  hfo_ssot_status_update.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(shodh): add docker resource limit knobs
  feature_flags.env.example
  scripts/shodh_memory_server.sh
Due: none

chore(vscode): update tasks/settings
  .vscode/tasks.json
Due: none

chore(config): update repo config
  .gitops/batches.json
  feature_flags.env.example
Due: none

chore(scripts): update ops scripts
  scripts/hfo_gitops_batcher.py
  scripts/shodh_memory_server.sh
  scripts/shodh_memory_stop.sh
Due: hfo-governance-check, hfo-file-defense-audit

test(scripts): add omega specs and gates
  scripts/hfo_gitops_run.sh
  scripts/shodh_regenerate_from_ssot.sh
Due: none

chore(agents): update modes + CI
  .github/agents/HFO-Hive8.agent.md
  .github/agents/README.md
  .github/agents/hfo-basic-mcp.agent.md
  .github/agents/hfo-port6-kraken-keeper.agent.md
  .github/agents/hfo-port7-spider-sovereign.agent.md
  .github/agents/hfo-proof-artifact.agent.md
  .github/agents/test.agent.md
  AGENTS.md
Due: hfo-governance-check, hfo-file-defense-audit

chore(config): update repo config
  .gitignore
  .gitops/batches.json
  package.json
  playwright.config.ts
Due: hfo-governance-check, hfo-file-defense-audit

chore(hub): update hub + pointers
  hfo_hub.py
  hfo_pointers.json
Due: hfo-governance-check, hfo-file-defense-audit

chore(scripts): update ops scripts
  scripts/hfo_hive8_finalize_turn.py
  scripts/hfo_make_hive8_turn_artifacts.py
  scripts/hfo_precommit_gate.sh
  scripts/hfo_shodh_recall.py
  scripts/hfo_ssot.py
  scripts/omega_gen7_v1_portable_smoke.spec.ts
  scripts/omega_gen7_v1_portable_tripwire_lookahead_monotonic.spec.ts
  scripts/omega_gen7_v7_1_excalidraw_golden.spec.ts
  scripts/omega_gen7_v7_1_hero_layers.spec.ts
  scripts/shodh_regenerate_from_ssot.sh
  scripts/shodh_sync_from_doobidoo_ssot.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(agents): add agent modes
  .github/agents/hfo-basic-p4.agent.md
  .github/agents/hfo-gen88-p3s.agent.md
Due: hfo-governance-check, hfo-file-defense-audit

chore(gitops): tracked residual
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_cards/HFO_CARD_P2_MIRROR_MAGUS_V1_2026_01_27.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_cards/HFO_CARD_P3_HARMONIC_HYDRA_V1_2026_01_27.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_cards/HFO_CARD_P4_RED_REGNANT_V1_2026_01_27.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_cards/HFO_CARD_P5_PYRE_PRAETORIAN_V1_2026_01_27.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_cards/HFO_CARD_P6_KRAKEN_KEEPER_V1_2026_01_27.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_cards/HFO_CARD_P7_SPIDER_SOVEREIGN_V1_2026_01_27.md
Due: hfo-governance-check, hfo-file-defense-audit
