Repository TTaoGaming/hfo-gen-88-chromebook-v1: changes, and which pre-commit hooks are due for each by the changed paths.
All: hfo-governance-check, hfo-quarantine-manager, hfo-medallion-guard

.pre-commit-config.yaml:

# HFO Gen 88 Pre-commit Governance
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

# HFO Medallion Flow Governance
- repo: local
  hooks:
  - id: hfo-governance-check
    name: HFO Governance Header Check
    entry: python3 hfo_hot_obsidian/bronze/2_areas/p5_defend/hfo_governance_check.py
    language: python
    files: \.(py|ts|js|v|md)$
  - id: hfo-quarantine-manager
    name: HFO Automated Quarantine Manager
    entry: python3 hfo_hot_obsidian/bronze/2_areas/p5_defend/integrity_sentinel.py
    language: python
    files: hfo_hot_obsidian/(silver|gold|hfo)/.*$
  - id: hfo-theater-sentinel
    name: HFO AI Theater Sentinel
    entry: python3 hfo_hot_obsidian/bronze/2_areas/p5_defend/temporal_sentinel.py
    language: python
    always_run: true
  - id: hfo-medallion-guard
    name: HFO Medallion Transition Guard
    entry: python3 hfo_hot_obsidian/bronze/2_areas/p5_defend/medallion_guard.py
    language: python
    files: ^(hfo_cold_obsidian|hfo_hot_obsidian/silver|hfo_hot_obsidian/gold)/.*$

chore: enforce 4-PARA bronze roots
  hfo_cold_obsidian/bronze/3_resources/receipts/readme.md.receipt.json
  hfo_cold_obsidian/bronze/3_resources/reports/readme.md
  hfo_cold_obsidian/bronze/4_archive/persist/6_persist/wiki_rag/20231101.en/train-00000-of-00041.parquet.receipt.json
  hfo_cold_obsidian/bronze/4_archive/persist/6_persist/wikipedia_simple.zim.receipt.json
  hfo_hot_obsidian/bronze/2_areas/root_cleanup_staging_2026_01_18/MOVE_LEDGER_2026_01_18.md
  hfo_hot_obsidian/bronze/3_resources/reports/exec_summaries/EXECUTIVE_SUMMARY_VARIANT_A_2026_01_17.md
  hfo_hot_obsidian/bronze/3_resources/reports/exec_summaries/EXECUTIVE_SUMMARY_VARIANT_C_2026_01_17.md
  hfo_hot_obsidian/bronze/3_resources/reports/exec_summaries/EXECUTIVE_SUMMARY_VARIANT_D_2026_01_17.md
  hfo_hot_obsidian/bronze/3_resources/reports/exec_summaries/HFO_GEN_88_EXECUTIVE_SUMMARY_VARIANT_B.md
Due: hfo-governance-check, hfo-medallion-guard

chore: clean cold obsidian root
  hfo_cold_obsidian/bronze/3_resources/receipts/BOOK_OF_BLOOD_GRUDGES.md.receipt.json
  hfo_cold_obsidian/bronze/3_resources/receipts/test_vault.md.receipt.json
  hfo_cold_obsidian/bronze/3_resources/reports/BOOK_OF_BLOOD_GRUDGES.md
  hfo_cold_obsidian/bronze/3_resources/reports/test_vault.md
  hfo_cold_obsidian/bronze/4_archive/medallion_seal/.MEDALLION_SEAL
  hfo_cold_obsidian/bronze/4_archive/medallion_seal/.MEDALLION_SEAL.receipt.json
  hfo_hot_obsidian/bronze/1_projects/_inbox/ai-chat-hfo-galois-lattice-2026-1-18.md
  hfo_hot_obsidian/bronze/2_areas/root_cleanup_staging_2026_01_18/MOVE_LEDGER_2026_01_18.md
Due: hfo-governance-check, hfo-medallion-guard

chore: keep only alpha/omega areas
  hfo_hot_obsidian/bronze/2_areas/root_cleanup_staging_2026_01_18/MOVE_LEDGER_2026_01_18.md
Due: hfo-governance-check

chore: move omega gen4 and alpha mcp gateway into projects
  hfo_hot_obsidian/bronze/1_projects/alpha_mcp_gateway_hub/README.md
  hfo_hot_obsidian/bronze/1_projects/alpha_mcp_gateway_hub/hfo_mcp_gateway_hub.py
  hfo_hot_obsidian/bronze/1_projects/omega_gen4_current/README.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen4_current/omega_gen4_v40_1.html
  scripts/trials/hfo_mcp_gateway_e2e.ts
Due: hfo-governance-check

chore: add root hub shim and roll up agent context
  AGENTS.md
  ROOT_GOVERNANCE.md
  hfo_cold_obsidian/bronze/3_resources/reports/AGENTS_ROLLUP_2026_01_18.md
  hfo_cold_obsidian/bronze/3_resources/reports/AGENTS_ROLLUP_2026_01_18.md.receipt.json
  hfo_mcp_gateway_hub.py
  scripts/trials/hfo_mcp_gateway_e2e.ts
Due: hfo-governance-check, hfo-medallion-guard

docs: formalize port6 memory interface
  AGENTS.md
  hfo_hot_obsidian/bronze/1_projects/alpha_mcp_gateway_hub/PORT6_MEMORY_SYSTEM.md
Due: hfo-governance-check

docs: add 2025-2026 year rollup
  hfo_cold_obsidian/bronze/3_resources/reports/HFO_YEAR_ROLLUP_2025_2026.md
  hfo_cold_obsidian/bronze/3_resources/reports/HFO_YEAR_ROLLUP_2025_2026.md.receipt.json
Due: hfo-governance-check, hfo-medallion-guard

chore: expand gitignore for cold archives
  .gitignore
Due: none

docs: update agent governance
  .github/agents/hfo-basic-mcp.agent.md
  AGENTS.md
Due: hfo-governance-check

docs: update hot project notes
  hfo_hot_obsidian/bronze/1_projects/_inbox/ai-chat-hfo-8x8-2026-1-18.md
  hfo_hot_obsidian/bronze/1_projects/alpha_mcp_gateway_hub/PORT6_MEMORY_SYSTEM.md
  hfo_hot_obsidian/bronze/1_projects/alpha_mcp_gateway_hub/README.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen4_current/README.md
Due: hfo-governance-check

docs: add hot inbox and resource templates
  hfo_hot_obsidian/bronze/1_projects/_inbox/ttao-notes-2026-1-19.md
  hfo_hot_obsidian/bronze/3_resources/para/hfo_daily_card_A.md
  hfo_hot_obsidian/bronze/3_resources/para/hfo_daily_card_B.md
  hfo_hot_obsidian/bronze/3_resources/para/hfo_daily_card_C.md
  hfo_hot_obsidian/bronze/3_resources/para/hfo_daily_card_D.md
  hfo_hot_obsidian/bronze/3_resources/para/hfo_daily_card_format_options.md
  hfo_hot_obsidian/bronze/3_resources/reports/HFO_LIFEOS_TEMPLATE_TRADE_STUDY_2026_01_19.md
  hfo_hot_obsidian/bronze/3_resources/reports/gmail_ai_triage_options_2026-01-19.md
Due: hfo-governance-check

feat: add gmail agent scaffolding
  hfo_hub.py
  scripts/gmail_agent.py
  scripts/gmail_agent_README.md
  scripts/requirements-gmail.txt
Due: hfo-governance-check

Add Gen5 fast regression + headless camera guard
  .husky/pre-commit
  .pre-commit-config.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v1.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v2.html
  package.json
  scripts/hfo_omega_fast_regression.sh
  scripts/omega_gen5_video_fsm.spec.ts
  scripts/omega_golden_master_replay.spec.ts
Due: hfo-governance-check

Update hubs, configs, and daily cards
  hfo_hot_obsidian/bronze/1_projects/omega_gen4_current/omega_gen4_v40_1.html
  hfo_hot_obsidian/bronze/3_resources/para/hfo_daily_card_A.md
  hfo_hot_obsidian/bronze/3_resources/para/hfo_daily_card_B.md
  hfo_hot_obsidian/bronze/3_resources/para/hfo_daily_card_C.md
  hfo_hot_obsidian/bronze/3_resources/para/hfo_daily_card_D.md
  hfo_hot_obsidian/bronze/3_resources/para/hfo_daily_card_format_options.md
  hfo_hub.py
  hfo_mcp_gateway_hub.py
  playwright.config.ts
  scripts/hfo_config.json
  scripts/hfo_fixtures.ts
  scripts/p5_sentinel_daemon.py
Due: hfo-governance-check

Normalize Gen5 readiness to 0-1
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v4.html
  scripts/omega_gen5_readiness_drain.spec.ts
  scripts/omega_gen5_readiness_energy.spec.ts
  scripts/omega_gen5_video_fsm.spec.ts
Due: hfo-governance-check

Add Gen5 cleanup utility
  package.json
  scripts/omega_gen5_cleanup.sh
Due: none

Fix Gen5 replay wait + terminal IDLE pointerup
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v5.html
  scripts/omega_gen5_excalidraw_replay.spec.ts
Due: hfo-governance-check

Add Gen5 v6 clone + golden replay JSONL clips
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v6.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/replay/right-hand-idle-ready-commit-move-right-release-idle.mirrored.jsonl
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/replay/right-hand-palm-ready-pointer-up-commit-move-right-turn-palm-release.jsonl
Due: none

Pre-commit fast suite tooling
  .pre-commit-config.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/forensics/omega_gen5_mirrored_clip_pointerup_error_report_2026_01_20.md
  package.json
  scripts/hfo_fast_check.sh
  scripts/hfo_precommit_time.sh
Due: hfo-governance-check

Gen5 replay fixes and assets
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_BUILD_GATE.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_SPEC.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/README.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/clip_harness/clip_to_mock_results.py
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/excalidraw_v20_wrapper.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/forensics/omega_gen5_mirrored_clip_pointerup_error_report_2026_01_20.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/forensics/response_drift_forensic_2026_01_19.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v1.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v2.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v3.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v4.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v4_1.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v6.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v7.html
  scripts/omega_clip_fsm_replay.spec.ts
  scripts/omega_gen5_excalidraw_compat.spec.ts
  scripts/omega_gen5_excalidraw_ready.spec.ts
  scripts/omega_gen5_injector_harness.spec.ts
  scripts/omega_gen5_pointer_emulation_red.spec.ts
Due: hfo-governance-check

Update workspace config
  .github/copilot-instructions.md
  .vscode/settings.json
  .vscode/tasks.json
  tsconfig.json
Due: hfo-governance-check

Add forensics notes
  hfo_hot_obsidian/bronze/1_projects/forensics/assistant_behavior_forensic_2026_01_19.md
Due: hfo-governance-check

Add eslint flat config
  eslint.config.mjs
Due: none

Gen5 v8: select Excalidraw tool on COMMIT
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v8.html
  scripts/omega_gen5_v8_excalidraw_ready_commit_select.spec.ts
Due: hfo-governance-check

Gen5 v9: clone v8 baseline + COMMIT-select test
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v9.html
  scripts/omega_gen5_v9_excalidraw_ready_commit_select.spec.ts
Due: hfo-governance-check

GitOps: fix receipt restore script (fail-closed)
  scripts/hfo_gitops_restore.py
Due: hfo-governance-check

P5: unstick pre-push blackboard purity
  hfo_hot_obsidian/blackboard_manifest.json
  scripts/blackboard_purity.py
Due: hfo-governance-check

docs: add provenance headers (bronze)
  hfo_hot_obsidian/bronze/1_projects/forensics/AGENT_DRIFT_LOOP_FORENSICS_2026_01_20.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V7_ANALYSIS.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V7_FREEZE_FORENSICS.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/OMEGA_GEN5_V8_GAP_ANALYSIS_2026_01_20.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/OMEGA_GEN5_V8_STRATEGY.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/OMEGA_GEN5_V9_THERMAL_SPEC.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen_5_v8_manifest.md
  hfo_omega_gen5_v8_handoff_swarm.md
Due: hfo-governance-check

P5: stabilize blackboard manifest for push
  hfo_hot_obsidian/blackboard_manifest.json
Due: none

P5: speed up pre-push blackboard purity gate
  .pre-commit-config.yaml
  scripts/blackboard_purity.py
Due: hfo-governance-check

P5 infra: entrypoints, healthcheck, pointers, shepherd
  .husky/pre-commit
  .vscode/tasks.json
  HFO_MEDALLION_DATA_LAKE_CLEANUP_2026_01_18.yaml
  ROOT_GOVERNANCE.md
  active_hfo_omega_entrypoint.html
  active_hfo_omega_entrypoint.json
  active_omega.html
  active_omega.json
  hfo_hot_obsidian/bronze/1_projects/alpha_mcp_gateway_hub/hfo_mcp_gateway_hub.py
  hfo_hub.py
  hfo_mcp_gateway_hub.py
  hfo_omega_gen5_v8_handoff_swarm.md
  hfo_pointers.json
  hfo_pointers.py
  package.json
  playwright.config.ts
  scripts/hfo_alpha_init_db.py
  scripts/hfo_fast_check.sh
  scripts/hfo_forensic_monthly_deep_dive.py
  scripts/hfo_forensics_stress.py
  scripts/hfo_healthcheck.py
  scripts/hfo_mcp_duckdb.py
  scripts/hfo_precommit_gate.sh
  scripts/hfo_resource_shepherd_daemon.py
  scripts/hfo_rollup_generate.py
  scripts/hfo_stigmergy_anchor.py
  scripts/hfo_tooling_forensics_monthly.py
  scripts/omega_clip_fsm_replay.spec.ts
  scripts/p5_health_gate.spec.ts
  scripts/p5_preflight_audit.py
  scripts/p5_sentinel_daemon.py
Due: hfo-governance-check

docs(gen5): v8/v9 notes and html tweaks
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V7_FREEZE_FORENSICS.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/OMEGA_GEN5_V8_GAP_ANALYSIS_2026_01_20.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/OMEGA_GEN5_V9_THERMAL_SPEC.md
Due: hfo-governance-check
