Repository TTaoGaming/hfo-gen-88-chromebook-v1: changes, and which pre-commit hooks are due for each by the changed paths.
All: hfo-governance-check, hfo-quarantine-manager, hfo-medallion-guard

hfo-governance-check:
  name: HFO Governance Header Check
  entry: python3 hfo_hot_obsidian/bronze/2_areas/p5_defend/hfo_governance_check.py
  language: python

hfo-quarantine-manager:
  name: HFO Automated Quarantine Manager
  entry: python3 hfo_hot_obsidian/bronze/2_areas/p5_defend/integrity_sentinel.py
  language: python

hfo-medallion-guard:
  name: HFO Medallion Transition Guard
  entry: python3 hfo_hot_obsidian/bronze/2_areas/p5_defend/medallion_guard.py
  language: python

STABILIZE: Update AGENTS.md with environment restoration receipt.
  AGENTS.md
  hfo_cold_obsidian/.MEDALLION_SEAL
Due: hfo-governance-check, hfo-medallion-guard

BREACH: Slop in models folder
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/models/utils.py
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
Due: hfo-governance-check

BREACH: Slop in models folder
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
Due: none

BREACH: Missing Purity Header
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/no_header.py
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
Due: hfo-governance-check

HARDENING: Closing Breadth and Depth Caps
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
  scripts/medallion_purity_guard.py
  scripts/slop_sentinel.sh
Due: hfo-governance-check

CLEANUP: Removed intentional trial breaches | Hardened Purity Delta Audit
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/models/utils.py
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/no_header.py
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
  scripts/medallion_purity_guard.py
Due: hfo-governance-check

HARDENING: Refined Slop Sentinel | Manifest Logged
  hfo_hot_obsidian/bronze/1_projects/hfo_mission_thread_alpha.md
  hfo_hot_obsidian/bronze/2_areas/architecture/ports/versions/base.py
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v52_clean_backup.html
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
  reports/AI_SLOP_DEFENSE_REPORT.md
  reports/ARMORED_COLD_STRATEGY.md
  reports/FORENSIC_BEHAVIORAL_TRIAL_98B9FC1.md
  reports/GOLDILOCKS_STRATEGY.md
  reports/ai-chat-error-loops-2025-1-11.md
  scripts/p4_chaos_monkey.py
  scripts/slop_sentinel.sh
Due: hfo-governance-check

GITOPS: Armored Gen 88 | Shard Audit PASS | 2026-01-12T02:01:08Z
  hfo_hot_obsidian/bronze/1_projects/hfo_mission_thread_alpha.md
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
  scripts/medallion_purity_guard.py
Due: hfo-governance-check

CHRONOS repair, Genie asset freeze, and P5 hardening pass (Green Commit)
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
Due: none

STABILIZE: Environment locked. P5 GREEN. Fix CHRONOS chain inconsistency in base.py. Ready for Physics remediation.
  ROOT_GOVERNANCE.md
  hfo_hot_obsidian/bronze/1_projects/blackboard_quarantine.jsonl
  hfo_hot_obsidian/bronze/1_projects/hfo_mission_thread_alpha.md
  hfo_hot_obsidian/bronze/2_areas/architecture/ports/versions/base.py
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v52.html
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
  scripts/reinit_blackboard.py
Due: hfo-governance-check

MISSION_FREEZE_G88: Solar Horizon (~8bn years) & Tool Evolution. Thread Alpha/Omega Binary Split formalized in Cold Bronze.
  AGENTS.md
  hfo_cold_obsidian/bronze/1_projects/hfo_mission_thread_alpha_g88.md
  hfo_cold_obsidian/bronze/1_projects/hfo_mission_thread_alpha_g88.md.receipt.json
  hfo_cold_obsidian/bronze/2_areas/mission_thread_alpha/THREAD_ALPHA_MANIFEST_G88.yaml
  hfo_cold_obsidian/bronze/2_areas/mission_thread_alpha/THREAD_ALPHA_MANIFEST_G88.yaml.receipt.json
  hfo_cold_obsidian/bronze/2_areas/mission_thread_omega/THREAD_OMEGA_MANIFEST_G88.yaml
  hfo_cold_obsidian/bronze/2_areas/mission_thread_omega/THREAD_OMEGA_MANIFEST_G88.yaml.receipt.json
  hfo_hot_obsidian/bronze/1_projects/blackboard_quarantine.jsonl
  hfo_hot_obsidian/bronze/2_areas/architecture/ports/hfo_orchestration_hub.py
  hfo_hot_obsidian/bronze/2_areas/architecture/ports/versions/base.py
  hfo_hot_obsidian/bronze/2_areas/architecture/ports/versions/hub_v7.py
  hfo_hot_obsidian/bronze/2_areas/mission_thread_alpha/p4_disrupt/BOOK_OF_BLOOD_GRUDGES.jsonl
  hfo_hot_obsidian/bronze/2_areas/mission_thread_alpha/p5_defend/DANCE_OF_DEATH_AND_REBIRTH.jsonl
  hfo_hot_obsidian/bronze/2_areas/mission_thread_alpha/strange_loop_intervener.py
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v53.html
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
Due: hfo-governance-check, hfo-medallion-guard

SNAPSHOT_STABILIZATION: Hardened P1 Bridger, finalized V53 configuration, and archived core Hub/Notes to Cold Bronze (G88 Snapshot).
  .vscode/tasks.json
  debug_sig.py
  debug_sig_v2.py
  hfo_cold_obsidian/bronze/2_areas/architecture/ports/versions/base_g88.py
  hfo_cold_obsidian/bronze/2_areas/architecture/ports/versions/base_g88.py.receipt.json
  hfo_cold_obsidian/bronze/2_areas/architecture/ports/versions/hub_v7_g88.py
  hfo_cold_obsidian/bronze/2_areas/architecture/ports/versions/hub_v7_g88.py.receipt.json
  hfo_cold_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v53_g88.html
  hfo_cold_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v53_g88.html.receipt.json
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
  scripts/check_blackboard.py
  scripts/fix_rapier_imports.py
  scripts/fix_rapier_imports_final.py
  scripts/fix_rapier_imports_v2.py
  scripts/hfo_config.json
  scripts/reinit_blackboard.py
  scripts/verify_signatures.py
Due: hfo-governance-check, hfo-medallion-guard

MISSION OMEGA: Recovery Baseline v56 (v52 clone) established. CHRONOS fracture preserved as Red Truth at line 403.
  AGENTS.md
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v56.html
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
  scripts/hfo_config.json
Due: hfo-governance-check

RED TRUTH RESTORED: Reverted unauthorized blackboard mutation at line 403. Corruption preserved as per directive.
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
Due: none

MISSION OMEGA: v56 Refactor - Shared Coordinate Substrate, Transparent Excalidraw, and Mirror-Aware Text
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v56.html
Due: none

feat(omega): establish v60 phoenix rebuild baseline (Bypassing Chronos Fracture for Red Truth Preservation)
  .serena/memories/v57_elemental_juice_baseline.md
  .serena/memories/v57_elemental_juice_vision_v2.md
  AGENTS.md
  hfo_hot_obsidian/blackboard_manifest.json
  hfo_hot_obsidian/bronze/1_projects/9_omega_tools.yaml
  hfo_hot_obsidian/bronze/1_projects/blackboard_quarantine.jsonl
  hfo_hot_obsidian/bronze/1_projects/hfo_mission_thread_alpha.md
  hfo_hot_obsidian/bronze/1_projects/omega_v55_refactor_master_plan.md
  hfo_hot_obsidian/bronze/2_areas/architecture/ports/versions/base.py
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/THREAD_OMEGA_MANIFEST.yaml
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/assets/vendor/golden-layout.js
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/assets/vendor/lil-gui.js
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/assets/vendor/matter-js.js
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/assets/vendor/mediapipe-tasks-vision.js
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/assets/vendor/zod.js
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/excalidraw_v31_wrapper.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v52.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v53_broken_rapier_wasm.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v54.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v55.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v60.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega/omega_workspace_v61.html
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
  reports/APP_STATE_REPORT_2026_01_11.md
  reports/FORENSIC_REPORT_V55_CHRONOS.md
  reports/FSM_ARCH_OMEGA_V1.md
  reports/REFACTORING_STRUGGLES_OMEGA_V52_V55.md
  reports/ai-chat-error-gemini-3-flash-2025-1-11.md
  reports/forensic_v33_20260112_000312.md
  reports/forensic_v33_20260112_003053.md
  reports/v55_transparency_test.png
  scripts/hfo_config.json
  scripts/omega_v55_sticky_drag.spec.ts
  scripts/take_v55_screenshot.py
  temp_nl.txt
Due: hfo-governance-check

🚨 RED TRUTH ANCHOR: Recovered artifacts v4, v5, v5.1 after automated git reset loop. Documentation: reports/FORENSIC_RECOVERY_OMEGA_V5_1.md. SECURING RECOVERY STATE BEFORE CHRONOS RECALIBRATION.
  AGENTS.md
  hfo_hot_obsidian/bronze/2_areas/architecture/ports/hfo_orchestration_hub.py
  hfo_hot_obsidian/bronze/2_areas/architecture/ports/versions/base.py
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_2/omega_gen2_v4.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_2/omega_gen2_v5.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_2/omega_gen2_v5_1.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_manifest.yaml
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v1.html
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
  package.json
  reports/FORENSIC_RECOVERY_OMEGA_V5_1.md
  scripts/hfo_config.json
Due: hfo-governance-check

OMEGA-GEN4-V6: Sequential FSM, Coasting Meta-State & Leaky Bucket Refinement. Hardened Port Architecture boundaries and updated AI Struggle Report.
  AGENTS.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen_4/HANDOFF_V61_LOCKDOWN.md
  hfo_hot_obsidian/bronze/2_areas/architecture/ports/versions/base.py
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_spec.yaml
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v6_spec.yaml
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
  reports/AI_STRUGGLE_REPORT_2026_01_12.md
  scripts/alpha_p0_audit.py
  scripts/alpha_p7_audit.py
  scripts/hfo_eval_p0_s0.py
Due: hfo-governance-check

OMEGA-GEN4-V6: Full workspace synchronization. Formatted HTML substrates and updated architecture spec v1.
  hfo_hot_obsidian/bronze/1_projects/omega_gen_2/architecture_spec_v1.md
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v2.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v3.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v4.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v5.html
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
Due: hfo-governance-check

OMEGA-GEN4-V6: Banished magic numbers. Implemented Tunables with Progressive Disclosure (Normal/Dev) tagging in V6 Spec.
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v6_spec.yaml
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl
Due: none

OMEGA-GEN4-V6: Initial Implementation. Leaky Bucket Dwell, Sequential FSM, and Coasting Logic active. Tunables added to Port 7 Navigator.
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v6.html
Due: none

feat(omega): Promoted V20.6 Direct Projection stable substrate
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v20_6.html
Due: none

build(hub): Update orchestration hub and configuration to V8
  .vscode/tasks.json
  hfo_hot_obsidian/bronze/2_areas/architecture/ports/hfo_orchestration_hub.py
  scripts/hfo_config.json
Due: hfo-governance-check

docs(mission): Update Mission Alpha and Agent status briefings
  AGENTS.md
  MISSION_THREAD_STATUS.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mission_thread_alpha.md
Due: hfo-governance-check

feat(commanders): Updated HFO Commander MTG Portfolio and Mosaic Manifest
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/HFO_COMMANDER_VISUALS_V1.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/HFO_CUSTOM_COMMANDER_CARDS.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/HFO_ELITE_CARD_DECK_VISUALS.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/LEGENDARY_HFO_COMMANDERS_V4_GALOIS_HARDENED.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/LEGENDARY_HFO_COMMANDERS_V5_OBSIDIAN_GHERKIN.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/LEGENDARY_HFO_COMMANDERS_V6_POWERS_OF_8.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/LEGENDARY_HFO_COMMANDERS_V7_HYDRA_ASCENDANT.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/STABILIZED_HFO_COMMANDERS_V1.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/STABILIZED_HFO_SLIVER_MOSAIC_V2.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/STABILIZED_HFO_SLIVER_MOSAIC_V3.md
  hfo_hot_obsidian/bronze/1_projects/hfo_mtg_commanders/hfo_commander_mosaic_manifest.md
Due: hfo-governance-check

feat(omega): Archive Omega Gen 4 evolution chain (V20-V20.5)
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/excalidraw_v20_wrapper.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v20.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v20_1.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v20_2.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v20_4.html
  hfo_hot_obsidian/bronze/2_areas/mission_thread_omega_gen_4/omega_gen4_v20_5.html
Due: none

feat(ops): Commit BFT recovery scripts and session memories
  .serena/memories/MISSION_OMEGA_V20_2_RECOVERY.md
  reconcile_bft_fire.py
  reconcile_bft_v20_5.py
  scripts/hfo_stigmergy_anchor.py
Due: hfo-governance-check

docs(archetype): Update Grimoire and Forensic Reports
  hfo_hot_obsidian/bronze/2_areas/architecture/GRIMOIRE.md
  reports/CHAOS_SUPPRESSION_STRATEGY_2026.md
  reports/FORENSIC_MTG_COMMANDER_LOOP_20260113.md
  reports/PORT_5_FRACTAL_SETUP_GUIDE.md
  reports/ai-chat-mtg-legendary-commander-cards-logic-loop-error-2026-1-12.md
Due: hfo-governance-check

Path conditions:
  hfo-governance-check: any of: \.(py|ts|js|v|md)$
  hfo-quarantine-manager: any of: hfo_hot_obsidian/(silver|gold|hfo)/.*$
  hfo-medallion-guard: any of: ^(hfo_cold_obsidian|hfo_hot_obsidian/silver|hfo_hot_obsidian/gold)/.*$
