Repository TTaoGaming/hfo-gen-88-chromebook-v1: changes, and which pre-commit hooks are due for each by the changed paths.
All: hfo-governance-check, hfo-quarantine-manager, hfo-medallion-guard, hfo-file-defense-audit

.pre-commit-config.yaml:

# HFO Gen 88 Pre-commit Governance
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

# HFO Medallion Flow Governance
- repo: local
  hooks:
  - id: hfo-fast-suite
    name: HFO Fast Suite (pre-commit)
    entry: bash scripts/hfo_precommit_time.sh fast-tests npm run test:fast
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-commit]
  - id: hfo-blackboard-purity
    name: HFO Blackboard Purity & Immutability
    entry: bash scripts/hfo_precommit_time.sh blackboard-purity python3 scripts/blackboard_purity.py
    language: system
    files: hot_obsidian_blackboard\.jsonl$
    always_run: true
    stages: [pre-push]
  - id: hfo-governance-check
    name: HFO Governance Header Check
    entry: python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/hfo_governance_check.py
    language: python
    files: \.(py|ts|js|v|md)$
  - id: hfo-quarantine-manager
    name: HFO Automated Quarantine Manager
    entry: python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/integrity_sentinel.py
    language: python
    files: hfo_hot_obsidian/(silver|gold|hfo)/.*$
  - id: hfo-theater-sentinel
    name: HFO AI Theater Sentinel
    entry: bash scripts/hfo_precommit_time.sh theater-sentinel python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/temporal_sentinel.py
    language: system
    always_run: true
    stages: [pre-push]
  - id: hfo-medallion-guard
    name: HFO Medallion Transition Guard
    entry: python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/medallion_guard.py
    language: python
    files: ^(hfo_cold_obsidian|hfo_hot_obsidian/silver|hfo_hot_obsidian/gold)/.*$
  - id: hfo-orchestration-hub-hardgate
    name: HFO P5 HardGate Orchestration Hub Check
    entry: bash scripts/hfo_precommit_time.sh p5-hardgate bash -c 'PYTHONPATH=/home/tommytai3/active/hfo_gen_88_chromebook_v_1/hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/architecture/ports /home/tommytai3/active/hfo_gen_88_chromebook_v_1/.venv/bin/python /home/tommytai3/active/hfo_gen_88_chromebook_v_1/hfo_hot_obsidian/bronze/4_archive/orchestration_hub_archive_2026_01_18/hfo_orchestration_hub.py p5'
    language: system
    always_run: true
    stages: [pre-push]
  - id: hfo-file-defense-audit
    name: HFO File-Level Defensive Audit
    entry: bash scripts/hfo_precommit_time.sh file-defense bash -c 'PYTHONPATH=/home/tommytai3/active/hfo_gen_88_chromebook_v_1/hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/architecture/ports /home/tommytai3/active/hfo_gen_88_chromebook_v_1/.venv/bin/python /home/tommytai3/active/hfo_gen_88_chromebook_v_1/hfo_hot_obsidian/bronze/4_archive/orchestration_hub_archive_2026_01_18/hfo_orchestration_hub.py p5'
    language: system
    files: \.(py|ts|js|html|yaml|md)$
    stages: [pre-push]
  - id: hfo-omega-fast-regression
    name: HFO Omega Fast Regression (Replay + FSM)
    entry: bash scripts/hfo_precommit_time.sh omega-fast bash /home/tommytai3/active/hfo_gen_88_chromebook_v_1/scripts/hfo_omega_fast_regression.sh
    language: system
    always_run: true
    stages: [pre-push]

chore(templates): add templates + hive8 test
  templates/hive8_port_translation_ladder_template.md
Due: hfo-governance-check, hfo-file-defense-audit

contracts: add zod schemas
  contracts/hfo_mtg_port_card_mappings.v5.json
Due: none

resources: add fixtures, para, reports
  hfo_hot_obsidian/bronze/3_resources/reports/HFO_GITOPS_EXEMPLAR_IMPROVEMENTS_V1_2026_01_29T024134Z.md
  hfo_hot_obsidian/bronze/3_resources/reports/HFO_HIVE8_COMMANDER_CARD_SWAPS_ANALYSIS_V1_2026_01_29.md
  hfo_hot_obsidian/bronze/3_resources/reports/HFO_HIVE8_GEN88_V5_OTHER_SLIVER_SWAP_IDEAS_3_TIER_V1_2026_01_29.md
  hfo_hot_obsidian/bronze/3_resources/reports/HFO_HIVE8_P2_HIBERNATION_VS_BROOD_FORK_EVOLVE_NOTE_V1_2026_01_29.md
Due: hfo-governance-check, hfo-file-defense-audit

test(scripts): add omega specs and gates
  scripts/archive/hallucinated_above_v1_1/omega_gen7_v7_1_excalidraw_golden.spec.ts
  scripts/archive/hallucinated_above_v1_1/omega_gen7_v7_1_hero_layers.spec.ts
  scripts/gen7_v1_cdp_smoke.js
  scripts/hfo_cdp_doctor.sh
  scripts/hfo_gen88_p3s_strangeloop.sh
  scripts/hfo_gen88_preflight_artifact_postflight.sh
  scripts/hfo_gen88_psps_strangeloop.sh
  scripts/hfo_p4_basic_4beat.sh
  scripts/hfo_stigmergy.py
  scripts/open_host_url.sh
  scripts/render_hive8_port_translation_ladder.mjs
  scripts/test_p4_basic_4beat.sh
  scripts/verify_hive8_mtg_card_mappings.mjs
Due: hfo-governance-check, hfo-file-defense-audit

chore(config): update repo config
  .gitops/batches.json
Due: none

chore(prompts): add agent prompts
  .github/prompts/hfo-gen88-preflight-artifact-postflight.prompt.md
Due: hfo-governance-check, hfo-file-defense-audit

docs(inbox): add inbox notes
  hfo_hot_obsidian/bronze/1_projects/_inbox/PSPS_AGENT_BLOCKERS_AND_NEXT_STEPS_2026_01_28.md
Due: hfo-governance-check, hfo-file-defense-audit

chore(config): update repo config
  .gitignore
  .gitops/batches.json
Due: none

chore(vscode): update tasks/settings
  .vscode/tasks.json
Due: none

chore(scripts): update ops scripts
  scripts/verify_hive8_mtg_card_mappings.mjs
Due: none

docs(forge): add hot obsidian forge reports
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_18P_V1_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V2_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V3_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V4_2026_01_29.md
Due: hfo-governance-check, hfo-file-defense-audit

test(scripts): add omega specs and gates
  scripts/hfo_gitops_auto.sh
Due: none

chore(config): update repo config
  package.json
Due: none

chore(hub): update hub + pointers
  hfo_pointers.json
Due: none

chore(scripts): update ops scripts
  scripts/hfo_gitops_auto.sh
  scripts/mermaid_lint.mjs
  scripts/verify_hive8_mtg_card_mappings.mjs
Due: none

chore(gitops): tracked residual
  contracts/hfo_legendary_commanders_invariants.v1.json
  hfo_blackboard_events.py
  hfo_hot_obsidian/bronze/1_projects/alpha_mcp_gateway_hub/hfo_mcp_gateway_hub.py
  hfo_hot_obsidian_forge/1_silver/2_resources/reports/hive8_doctrine/HFO_HIVE8_COMMANDER_INVARIANTS_OCTREE_V1_2026_01_27.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_P1_FUSE_BRIDGE_THE_WEB_WEAVER_LADDER_8PART_V1_2026_01_28.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_P1_FUSE_BRIDGE_WEB_WEAVER_3_PLUS_1_TO_JADC2_TO_MEADOWS_V1_2026_01_28.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_P1_FUSE_BRIDGE_WEB_WEAVER_GALOIS_LATTICE_INCREMENT_V2_2026_01_28.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_P3_DELIVER_INJECT_HARMONIC_HYDRA_GALOIS_LATTICE_INCREMENT_V1_2026_01_28.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_P3_DELIVER_INJECT_HARMONIC_HYDRA_LADDER_8PART_V1_2026_01_28.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_P4_DISRUPT_DISRUPT_RED_REGNANT_GALOIS_LATTICE_INCREMENT_V1_2026_01_28.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_P4_DISRUPT_DISRUPT_RED_REGNANT_LADDER_8PART_V1_2026_01_28.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_P6_STORE_ASSIMILATE_KRAKEN_KEEPER_GALOIS_LATTICE_INCREMENT_V1_2026_01_28.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_P6_STORE_ASSIMILATE_KRAKEN_KEEPER_LADDER_8PART_V1_2026_01_28.md
Due: hfo-governance-check, hfo-file-defense-audit

docs(forge): add hot obsidian forge reports
  hfo_hot_obsidian_forge/0_bronze/2_resources/reports/refactors/HFO_HOT_OBSIDIAN_ROOT_TO_FORGE_PARA_MOVE_MANIFEST_V1_2026_01_29.yaml
  hfo_hot_obsidian_forge/1_silver/2_resources/reports/refactors/HFO_HOT_OBSIDIAN_TO_FORGE_BREAKAGE_MATRIX_V1_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_COMPENDIUM_V4_QUINE_REVIEW_BDD_CDD_TDD_DEVOPS_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_COMPENDIUM_V8_AUDIT_V1_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V5_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V6_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V7_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V8_1_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V8_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V8_2_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V8_3_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V8_4_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V8_5_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/annex/HFO_HIVE8_GEN88_V5_COMMANDER_PAGES_FULL_V8_5_ANNEX_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/annex/HFO_HIVE8_GEN88_V5_SYNERGY_FULL_V8_5_ANNEX_2026_01_29.md
Due: hfo-governance-check, hfo-file-defense-audit

contracts: add zod schemas
  contracts/__tests__/hfo_event_envelope_contract.test.ts
  contracts/__tests__/hfo_p3_blast_radius_policy_contract.test.ts
  contracts/hfo_event_envelope.v1.json
  contracts/hfo_event_envelope.zod.ts
  contracts/hfo_hive8_compendium_manifest.v1.json
  contracts/hfo_p3_blast_radius_policy.v1.json
  contracts/hfo_p3_blast_radius_policy.zod.ts
Due: hfo-governance-check, hfo-file-defense-audit

test(scripts): add omega specs and gates
  scripts/blackboard_reseal.py
  scripts/hive8_compendium_manifest.mjs
  scripts/verify_hive8_compendium_frontmatter.mjs
  scripts/verify_hive8_compendium_gate_index_parity.mjs
  scripts/verify_hive8_compendium_manifest.mjs
  scripts/verify_hive8_compendium_portable_links.mjs
  scripts/verify_hive8_event_envelope_table_drift.mjs
  scripts/verify_hive8_identity_invariants_table_drift.mjs
  scripts/verify_hive8_p3_blast_radius_policy_drift.mjs
Due: hfo-governance-check, hfo-file-defense-audit

chore(gitops): tracked residual
  contracts/hfo_hive8_compendium_manifest.v1.json
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V8_5_2026_01_29.md
Due: hfo-governance-check, hfo-file-defense-audit

chore(scripts): update ops scripts
  scripts/hfo_gitops_auto.sh
Due: none

chore(agents): update modes + CI
  .github/agents/hfo-basic-p4.agent.md
  AGENTS.md
Due: hfo-governance-check, hfo-file-defense-audit

chore(agents): update modes + CI
  AGENTS.md
Due: hfo-governance-check, hfo-file-defense-audit

chore(hub): update hub + pointers
  hfo_pointers.json
  hfo_pointers.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(scripts): update ops scripts
  scripts/hfo_fast_check.sh
  scripts/hfo_gen6_v9_dino_classify.sh
  scripts/hfo_gen88_p3s_strangeloop.sh
  scripts/hfo_precommit_gate.sh
  scripts/mermaid_lint.mjs
  scripts/omega_gen6_v9_dino_diagnostics.spec.ts
Due: hfo-governance-check, hfo-file-defense-audit

chore(gitops): tracked residual
  .github/copilot-instructions.md
  ROOT_GOVERNANCE.md
  contracts/hfo_hive8_compendium_manifest.v1.json
  hfo_blackboard_events.py
  hfo_hot_obsidian/bronze/1_projects/alpha_mcp_gateway_hub/hfo_mcp_gateway_hub.py
Due: hfo-governance-check, hfo-file-defense-audit

test(scripts): add omega specs and gates
  scripts/forge_migrate_legacy_batch1.py
  scripts/hfo_forge_migration_audit.py
  scripts/hfo_serena_doctor.sh
Due: hfo-governance-check, hfo-file-defense-audit

Promote: HFO Grimoire Compendium Gen88 v8.8
  artifacts/crypto_receipts/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29.receipt.json
  artifacts/crypto_receipts/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29.sha256
  artifacts/crypto_receipts/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29__hot_resources.receipt.json
  artifacts/crypto_receipts/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29__hot_resources.sha256
  hfo_hot_obsidian_forge/3_hfo/2_resources/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29.md
  hfo_hot_obsidian_forge/hfo/resources/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29.md
  scripts/mermaid_lint.mjs
Due: hfo-governance-check, hfo-file-defense-audit

Doctrine: HIVE/8 PDCA alias mapping (v8.8)
  artifacts/crypto_receipts/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29.receipt.json
  artifacts/crypto_receipts/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29.sha256
  artifacts/crypto_receipts/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29__hot_resources.receipt.json
  artifacts/crypto_receipts/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29__hot_resources.sha256
  hfo_hot_obsidian_forge/0_bronze/2_resources/reports/hive8_doctrine/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29.md
  hfo_hot_obsidian_forge/2_gold/2_resources/reports/hive8_doctrine/HFO_HIVE8_GEN88_V5_LEGENDARY_COMMANDERS_3_PLUS_1_COMPENDIUM_BLUF_PLUS_8x8_PLUS_META_V8_8_2026_01_29.md
  hfo_hot_obsidian_forge/hfo/resources/HFO_GRIMOIRE_COMPENDIUM_GEN88_V8_8_2026_01_29.md
Due: hfo-governance-check, hfo-file-defense-audit

chore(scripts): update ops scripts
  scripts/hfo_forge_migration_audit.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(gitops): tracked residual
  hfo_hot_obsidian/silver/2_areas/omega_core.js
  hfo_hot_obsidian/silver/2_areas/omega_core.test.ts
  hfo_hot_obsidian/silver/2_areas/omega_core.ts
  hfo_hot_obsidian/silver/2_areas/omega_silver_v1.html
  hfo_hot_obsidian/silver/2_areas/tsconfig.json
Due: hfo-governance-check, hfo-quarantine-manager, hfo-medallion-guard, hfo-file-defense-audit
