Repository TTaoGaming/hfo-gen-88-chromebook-v1: changes, and which pre-commit hooks are due for each by the changed paths.
All: hfo-governance-check, hfo-quarantine-manager, hfo-medallion-guard, hfo-file-defense-audit

hfo-governance-check:
  name: HFO Governance Header Check
  entry: python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/hfo_governance_check.py
  language: python

hfo-quarantine-manager:
  name: HFO Automated Quarantine Manager
  entry: python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/integrity_sentinel.py
  language: python

hfo-medallion-guard:
  name: HFO Medallion Transition Guard
  entry: python3 hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/medallion_guard.py
  language: python

hfo-file-defense-audit:
  name: HFO File-Level Defensive Audit
  ...

chore(gitops): tracked updates
  .vscode/tasks.json
Due: none

contracts: add zod schemas
  contracts/hfo_adapter_manifest.zod.ts
  contracts/hfo_data_fabric.zod.ts
  contracts/hfo_pointer_command.zod.ts
  contracts/hfo_replay_manifest.zod.ts
Due: hfo-governance-check, hfo-file-defense-audit

gen6: add v10/v11 runtimes + tripwire artifacts
  hfo_hot_obsidian/bronze/3_resources/para/omega_gen6_current/GEN6_TRIPWIRE_THREAD_PLANCK_BABYLON_TRADE_STUDY_2026_01_21.md
  hfo_hot_obsidian/bronze/3_resources/para/omega_gen6_current/GEN6_V11_PORT2_MIRROR_MAGUS_TRACER_SPEC_2026_01_21.yaml
  hfo_hot_obsidian/bronze/3_resources/para/omega_gen6_current/GEN6_V12_TRIPWIRE_THREAD_PLANCK_BABYLON_SPEC_2026_01_21.yaml
  hfo_hot_obsidian/bronze/3_resources/para/omega_gen6_current/omega_gen6_v10.html
  hfo_hot_obsidian/bronze/3_resources/para/omega_gen6_current/omega_gen6_v11.html
  scripts/omega_gen6_v10_diagnostic_tracer_bullet_venom.spec.ts
  scripts/omega_gen6_v11_p2_gesture_language_base.spec.ts
  scripts/omega_gen6_v11_port2_tracer_venom.spec.ts
Due: hfo-governance-check, hfo-file-defense-audit

chore(gitops): add async batcher config and task
  .gitops/batches.json
  scripts/hfo_gitops_batcher.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(gitops): tracked updates
  .gitops/batches.json
Due: none

chore(gitops): tracked updates
  .vscode/tasks.json
  scripts/hfo_gitops_batcher.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(notes): add omega chat note
  ai-chat-omega-gen6-2026-1-20.md
Due: hfo-governance-check, hfo-file-defense-audit

docs(playbooks): add cold obsidian playbooks
  hfo_cold_obsidian/bronze/3_resources/playbooks/JADC2_MOSAIC_WARFARE_TILES_PLAYBOOK.md
  hfo_cold_obsidian/bronze/3_resources/playbooks/JADC2_MOSAIC_WARFARE_TILES_PLAYBOOK.md.receipt.json
  hfo_cold_obsidian/bronze/3_resources/playbooks/MITRE_ATLAS_PLAYBOOK.md
  hfo_cold_obsidian/bronze/3_resources/playbooks/MITRE_ATLAS_PLAYBOOK.md.receipt.json
  hfo_cold_obsidian/bronze/3_resources/playbooks/MITRE_ATTACK_PLAYBOOK.md
  hfo_cold_obsidian/bronze/3_resources/playbooks/MITRE_ATTACK_PLAYBOOK.md.receipt.json
  hfo_cold_obsidian/bronze/3_resources/playbooks/OFFLINE_MINI_WIKIPEDIA_PLAYBOOK.md
  hfo_cold_obsidian/bronze/3_resources/playbooks/OFFLINE_MINI_WIKIPEDIA_PLAYBOOK.md.receipt.json
  hfo_cold_obsidian/gold/3_resources/playbooks/JADC2_MOSAIC_WARFARE_TILES_PLAYBOOK.md
  hfo_cold_obsidian/gold/3_resources/playbooks/JADC2_MOSAIC_WARFARE_TILES_PLAYBOOK.md.receipt.json
  hfo_cold_obsidian/gold/3_resources/playbooks/MITRE_ATLAS_PLAYBOOK.md
  hfo_cold_obsidian/gold/3_resources/playbooks/MITRE_ATLAS_PLAYBOOK.md.receipt.json
  hfo_cold_obsidian/gold/3_resources/playbooks/MITRE_ATTACK_PLAYBOOK.md
  hfo_cold_obsidian/gold/3_resources/playbooks/MITRE_ATTACK_PLAYBOOK.md.receipt.json
  hfo_cold_obsidian/gold/3_resources/playbooks/OFFLINE_MINI_WIKIPEDIA_PLAYBOOK.md
  hfo_cold_obsidian/gold/3_resources/playbooks/OFFLINE_MINI_WIKIPEDIA_PLAYBOOK.md.receipt.json
Due: hfo-governance-check, hfo-medallion-guard, hfo-file-defense-audit

docs(forensics): add monthly deep dives
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/INDEX.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_01.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_02.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_03.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_04.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_05.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_06.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_07.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_08.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_09.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_10.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_11.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2025_12.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_dev_work_monthly_deep_dive_v1_2025_01_to_2026_01/monthly/TTAO_DEV_MONTHLY_DEEP_DIVE_2026_01.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/INDEX.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_01.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_02.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_03.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_04.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_05.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_06.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_07.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_08.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_09.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_10.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_11.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2025_12.md
  hfo_hot_obsidian/bronze/1_projects/forensics_ttao_tooling_forensics_v1_2025_01_to_2026_01/monthly/TTAO_TOOLING_FORENSICS_2026_01.md
Due: hfo-governance-check, hfo-file-defense-audit

docs(touch): add touchscreen targets + vendor
  hfo_hot_obsidian/bronze/1_projects/hfo_omega_assimillation_touchscreen_targets/RUNBOOK_2048_LOCAL_TOUCH_TEST_2026_01_21.md
  hfo_hot_obsidian/bronze/1_projects/hfo_omega_assimillation_touchscreen_targets/RUNBOOK_DINO_RUNNER_LOCAL_TOUCH_TEST_2026_01_21.md
  hfo_hot_obsidian/bronze/1_projects/hfo_omega_assimillation_touchscreen_targets/RUNBOOK_HEXTRIS_LOCAL_TOUCH_TEST_2026_01_21.md
  hfo_hot_obsidian/bronze/1_projects/hfo_omega_assimillation_touchscreen_targets/TOP4_MOST_STARRED_TOUCHSCREEN_TARGETS_2026_01_21.md
Due: hfo-governance-check, hfo-file-defense-audit

gen5: add omega gen5 current artifacts
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V10_HEX_MODULAR_MONOLITH_SPEC_2026_01_20.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V11_1_APPHOST_MULTIAPP_SPEC_2026_01_20.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V11_2_TDD_CHECKLIST_2026_01_20.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V12_1_DINO_V1_ASSIMILATION_SPEC_2026_01_21.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V12_MULTIAPP_SHARED_SUBSTRATE_SPEC_2026_01_20.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V13_ADAPTER_HOTSWAP_SPEC_2026_01_21.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V9_RENDERING_REPORT.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/OMEGA_GEN5_V10_POSTMORTEM_AND_V10_1_PLAN_2026_01_20.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/TOUCH_APP_CLONE_FORK_TRADE_STUDY_2026_01_21.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/ai-gen-5-performance-govenor-2026-1-20.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/dino_v1_wrapper.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/official_adapters/OFFICIAL_ADAPTER_SOURCES_2026_01_21.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/official_adapters/PROVENANCE_TEMPLATE.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/official_adapters/mdn_breakout_end3r/LICENSE
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/official_adapters/mdn_breakout_end3r/PROVENANCE.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/official_adapters/mdn_breakout_end3r/UPSTREAM_README.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/official_adapters/mdn_breakout_end3r/index.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v10.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v10_1.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v10_2.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v11.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v11_1.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v11_2.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v11_3.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v12.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/omega_gen5_v12_1_dino_v1.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/pointer_lab_app.html
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/sandbox_canvas_app.html
Due: hfo-governance-check, hfo-file-defense-audit

test(scripts): add omega specs and gates
  scripts/hfo_gen5_clip_replay_check.sh
  scripts/hfo_gen5_v11_full_gate.sh
  scripts/hfo_gen5_version_smoke.sh
  scripts/hfo_gen6_v9_dino_classify.sh
  scripts/omega_gen5_entrypoint_smoke.spec.ts
  scripts/omega_gen5_p1_ports_smoke.spec.ts
  scripts/omega_gen5_p4_disrupt_smoke.spec.ts
  scripts/omega_gen5_p7_navigate_smoke.spec.ts
  scripts/omega_gen5_v11_1_multiapp.spec.ts
  scripts/omega_gen5_v11_2_multiapp_regression.spec.ts
  scripts/omega_gen5_v11_2_multiview_red.spec.ts
  scripts/omega_gen5_v11_3_games_overlay_tuning.spec.ts
  scripts/omega_gen5_v11_3_multiapp_regression.spec.ts
  scripts/omega_gen5_v11_3_multiview.spec.ts
  scripts/omega_gen5_v11_stigmergy.spec.ts
  scripts/omega_gen5_v11_strict_hex.spec.ts
  scripts/omega_gen5_v12_multiapp_intent_pointerlab.spec.ts
  scripts/omega_gen6_v12_p2_touch2d_split_zones.spec.ts
  scripts/omega_gen6_v4_substrate_split.spec.ts
  scripts/omega_gen6_v5_registry.spec.ts
  scripts/omega_gen6_v6_ports_adapters.spec.ts
  scripts/omega_gen6_v6_srp_views.spec.ts
  scripts/omega_gen6_v7_debug_sidecar.spec.ts
  scripts/omega_gen6_v8_ports_effects.spec.ts
  scripts/omega_gen6_v9_dino_diagnostics.spec.ts
  scripts/omega_gen6_v9_dino_replay.spec.ts
Due: hfo-governance-check, hfo-file-defense-audit

chore(precommit): bound fast suite to relevant staged changes
  .gitignore
  .pre-commit-config.yaml
  scripts/hfo_fast_check.sh
  scripts/hfo_precommit_fast_suite.sh
Due: hfo-file-defense-audit

feat(hub): resolve targets via pointers; add omega vision helper
  hfo_hub.py
  hfo_mcp_gateway_hub.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(tooling): refresh omega tasks and Playwright config
  .vscode/tasks.json
  package.json
  playwright.config.ts
  scripts/omega_clip_fsm_replay.spec.ts
Due: hfo-governance-check, hfo-file-defense-audit

chore(infra): harden daemons and path resolution
  hfo_hot_obsidian/bronze/1_projects/alpha_mcp_gateway_hub/hfo_mcp_gateway_hub.py
  scripts/hfo_alpha_init_db.py
  scripts/hfo_mcp_duckdb.py
  scripts/hfo_stigmergy_anchor.py
  scripts/p5_preflight_audit.py
  scripts/p5_sentinel_daemon.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(husky): include precommit gate script
  .husky/pre-commit
Due: none

docs(governance): update medallion cleanup + omega gen5 notes
  HFO_MEDALLION_DATA_LAKE_CLEANUP_2026_01_18.yaml
  ROOT_GOVERNANCE.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/GEN5_V7_FREEZE_FORENSICS.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/OMEGA_GEN5_V8_GAP_ANALYSIS_2026_01_20.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen5_current/OMEGA_GEN5_V9_THERMAL_SPEC.md
  hfo_omega_gen5_v8_handoff_swarm.md
Due: hfo-governance-check, hfo-file-defense-audit

feat(core): add ports, pointers, and contracts
  contracts/hfo_adapter_manifest.zod.ts
  contracts/hfo_data_fabric.zod.ts
  contracts/hfo_pointer_command.zod.ts
  contracts/hfo_replay_manifest.zod.ts
  contracts/hfo_tripwire_events.zod.ts
  contracts/hfo_ui_markers.zod.ts
  hfo_blackboard_events.py
  hfo_pointers.json
  hfo_pointers.py
  hfo_ports/p0_context_facade_v1.py
  hfo_ports/p0_context_facade_v2.py
  hfo_ports/p0_isr_suite.py
  hfo_ports/p0_shard_health_tracer_venom_v1.py
  hfo_ports/p1_context_facade_v1.py
  hfo_ports/p1_data_fabric.py
  hfo_ports/p3_tracer_venom.py
Due: hfo-governance-check, hfo-file-defense-audit

ci(tripwires): add GitHub Actions + local lightweight tripwire
  .github/workflows/tripwires.yml
  scripts/hfo_precommit_fast_suite.sh
  scripts/hfo_tripwire_local.sh
Due: none

chore: normalize newline at EOF
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_v1_portable/app/official_adapters/mdn_breakout_end3r/index.html
Due: hfo-file-defense-audit

docs(p7): add hive8 fractal hourglass protocol + snapshot tool
  hfo_hot_obsidian/bronze/3_resources/reports/P7_SPIDER_SOVEREIGN_HIVE8_FRACTAL_HOURGLASS_PROTOCOL_2026_01_24.md
  scripts/p7_hive8_alignment_snapshot.py
Due: hfo-governance-check, hfo-file-defense-audit

chore(prepush): make omega fast regression CI-first
  .pre-commit-config.yaml
  scripts/hfo_omega_fast_regression.sh
Due: hfo-file-defense-audit

chore(prepush): ci-first + portable p5 hardgate/file-defense hooks
  .pre-commit-config.yaml
Due: hfo-file-defense-audit

chore(prepush): ci-first strict sentinels + portable paths
  .pre-commit-config.yaml
  hfo_hot_obsidian/bronze/4_archive/areas_archive_2026_01_18/p5_defend/temporal_sentinel.py
  scripts/blackboard_purity.py
Due: hfo-governance-check, hfo-file-defense-audit

ci(tripwires): remove setup-node cache for stability
  .github/workflows/tripwires.yml
Due: none

ci(tripwires): disable husky during npm ci
  .github/workflows/tripwires.yml
Due: none

ci(tripwires): skip playwright download during npm ci
  .github/workflows/tripwires.yml
Due: none

chore(gitops): tracked updates
  .github/agents/hfo-basic-mcp.agent.md
  .vscode/settings.json
  .vscode/tasks.json
  hfo_hot_obsidian/blackboard_manifest.json
  hfo_hot_obsidian/bronze/1_projects/alpha_mcp_gateway_hub/hfo_mcp_gateway_hub.py
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_v1_portable/README.md
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_v1_portable/specs/omega_gen7_v1_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_v1_portable/specs/omega_gen7_v2_spec.yaml
  hfo_hot_obsidian/bronze/1_projects/omega_gen7_v1_portable/specs/omega_gen7_v3_spec.yaml
  hfo_hot_obsidian/bronze/3_resources/para/mission_thread_alpha_current/specs/hfo_alpha_hub_spec_v2026_01_24.yaml
  hfo_hot_obsidian/hot_obsidian_blackboard.jsonl.receipt.json
  hfo_hub.py
  hfo_pointers.json
  package.json
  playwright.config.ts
  scripts/hfo_stigmergy_anchor.py
  scripts/mcp_env_wrap.sh
  scripts/omega_gen7_v1_portable_smoke.spec.ts
  scripts/omega_gen7_v1_portable_tripwire_lookahead_monotonic.spec.ts
  scripts/omega_v55_sticky_drag.spec.ts
  scripts/p5_sentinel_daemon.py
  ttao-notes-2026-1-24.md
Due: hfo-governance-check, hfo-file-defense-audit

contracts: add zod schemas
  contracts/__tests__/hfo_blackboard_cloudevent.test.ts
  contracts/__tests__/hfo_exemplar_event.test.ts
  contracts/__tests__/hfo_flight_receipt.test.ts
  contracts/__tests__/hfo_kraken_keeper_turn_receipt.test.ts
  contracts/__tests__/hfo_phase_receipt.test.ts
  contracts/hfo_blackboard_cloudevent.zod.ts
  contracts/hfo_exemplar_event.zod.ts
  contracts/hfo_flight_receipt.zod.ts
  contracts/hfo_kraken_keeper_turn_receipt.zod.ts
  contracts/hfo_phase_receipt.zod.ts
Due: hfo-governance-check, hfo-file-defense-audit

chore(gitops): tracked updates
  .gitops/batches.json
  hfo_pointers.json
  package.json
Due: none

resources: add fixtures, para, reports
  hfo_hot_obsidian/bronze/3_resources/reports/CHROMEBOOK_SWAP_SETUP_GUIDE.md
  hfo_hot_obsidian/bronze/3_resources/reports/PORT6_KRAKEN_KEEPER_PROGRESSIVE_SUMMARIZATION_SPEC.md
  hfo_hot_obsidian/bronze/3_resources/reports/SYSTEM_SNAPSHOT_2026_01_26.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_30ad9974082a_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_30ad9974082a_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_754a698bbcfc_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_754a698bbcfc_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_961d1e329592_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_961d1e329592_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_a6ca7aa75494_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_a6ca7aa75494_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_cae45010d66d_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_cae45010d66d_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_e2a5f60dcbdb_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_e2a5f60dcbdb_preflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_ed04c8ed875d_postflight.md
  hfo_hot_obsidian/bronze/3_resources/reports/kraken_keeper_turns/P6_ed04c8ed875d_preflight.md
Due: hfo-governance-check, hfo-file-defense-audit

test(scripts): add omega specs and gates
  scripts/agent_dashboard.sh
  scripts/agent_preflight.sh
  scripts/agent_status_light.sh
  scripts/agent_stop.sh
  scripts/cache_cleanup_safe.sh
  scripts/disk_audit_light.sh
  scripts/docker/shodh_memory.Dockerfile
  scripts/hfo_env.py
  scripts/hfo_flight.sh
  scripts/hfo_structure_validator.py
  scripts/ingest_p6_exemplars.py
  scripts/kraken_keeper_turn.py
  scripts/ledger_audit_light.sh
  scripts/normalize_mcp_memory_ledger.py
  scripts/omega_gen7_v7_1_excalidraw_golden.spec.ts
  scripts/omega_gen7_v7_1_hero_layers.spec.ts
  scripts/omega_ui_conformance_contracts_hig_w3c_m3_goldenlayout_lilgui.spec.ts
  scripts/p6_bronze_progressive_rollup.py
  scripts/p7_s3_turn.py
  scripts/s3_v2_1_validate.py
  scripts/shodh_memory_server.sh
  scripts/shodh_websocket_polyfill.cjs
Due: hfo-governance-check, hfo-file-defense-audit

chore(gitignore): ignore artifacts and gen7 vendor
  .gitignore
Due: none

docs(gen88v4): add transition specs, protocols, and agent guides
  .github/agents/README.md
  .github/agents/hfo-port6-kraken-keeper.agent.md
  .github/agents/hfo-port7-spider-sovereign.agent.md
  FORENSIC_ANALYSIS_2026-01-26.md
  FORENSIC_ANALYSIS_HOT_SILVER_2026-01-26T10-08-00-07-00.md
  HFO_ALPHA_FOLDER_STRUCTURE_V1_SPEC_2026_01_26.yaml
  PHOENIX_PROTOCOL_2026-01-26.md
  RESOURCE_LIFECYCLE.md
  RISK_1_2_SAFE_PLAN_2026-01-26.md
  WHERE_ARE_MY_LOGS_AND_QUARANTINE.md
  feature_flags.env.example
Due: hfo-governance-check, hfo-file-defense-audit

Path conditions:
  hfo-governance-check: any of: \.(py|ts|js|v|md)$
  hfo-quarantine-manager: any of: hfo_hot_obsidian/(silver|gold|hfo)/.*$
  hfo-medallion-guard: any of: ^(hfo_cold_obsidian|hfo_hot_obsidian/silver|hfo_hot_obsidian/gold)/.*$
  hfo-file-defense-audit: any of: \.(py|ts|js|html|yaml|md)$
